.dashboard-header {
  display: flex;
  align-items: center;
  background-color: #c21b17;
}
.dashboard-top-menu {
  background-color: #c21b17 !important;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.video_lesson_prev {
  width: 100% !important;
  height: unset !important;
}
