.home-banner {
  width: 100%;
}
.ant-tabs {
  width: 100%;
}

.react-countdown-clock {
  margin: auto;
  margin-bottom: 10px;
}
.course-detail-banner {
  border-radius: 20px;
  width: 100%;
  max-height: 400px;
}
